@import "./scss/fonts.scss";
@import "./scss/colors.scss";

// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";

body {
  font-family: "Roboto", sans-serif;
}

button {
  outline: none !important;
}

.app {
  background: #30629a;
  min-height: 100vh;
}

.portfolio__title {
  color: $pluginsBg;
  font-size: 36px;
  font-weight: 300;
}

.geekboard {
  background: $pluginsBg;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.geekboard__tabs {
  flex: 0 1 100%;
  display: flex;
  flex-wrap: wrap;
  @include media-breakpoint-up(lg) {
    flex: 0 1 60%;
  }
}

.geekboard__tabs__btn {
  width: 100%;
  display: flex;
  @include media-breakpoint-up(lg) {
    width: 68px;
    display: block;
  }
}
.geekboard__tabs__content {
  flex: 1;
}

.geekboard__daily-load {
  flex: 0 1 100%;
  background: #edecea;
  padding: 1.75rem 2rem;
  @include media-breakpoint-up(lg) {
    flex: 0 1 40%;
  }
}

.tabs__btn__item {
  width: 25%;
  height: 70px;
  text-align: center;
  background: $tabs__btnColor;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-right: 1px solid #78a5d3;
  @include media-breakpoint-up(lg) {
    border-right: none;
    border-bottom: 1px solid #78a5d3;
    width: 100%;
  }

  &:last-child {
    display: block;
    border-bottom: none;
  }

  &:hover {
    span {
      &::before {
        color: $pinkColor;
      }
    }
    &.active {
      span {
        &::before {
          color: rgb(249, 220, 133);
        }
      }
    }
  }

  &.active {
    background: transparent;
    border-bottom: none;
  }

  span {
    font-size: 36px;
    line-height: 64px;
  }
}

.geekboard__tabs__content {
  padding: 1.75rem 2rem;
  position: relative;
}

.uikit-menu {
  font-size: 32px;
  position: absolute;
  top: 1.75rem;
  right: 2rem;
  cursor: pointer;
  &::before {
    color: $pinkColor;
  }
}

.daily-load__percent {
  font-size: 26px;
  color: $pinkColor;
  text-align: right;
}

.daily-load__title,
.tab__cont__title,
.cruncher__title,
.location__title {
  color: #41557d;
  font-weight: 500;
  font-size: 20px;
  line-height: 42px;
}

.canvas__chart {
  max-width: 153px;
  min-width: 153px;
  margin: auto auto 2rem;
  @include media-breakpoint-up(lg) {
    margin: 0 auto;
  }
}

.canvas-wrap {
  height: 126px;
  overflow: hidden;
  position: relative;
  .icon,
  .icon2 {
    font-size: 40px;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    &::before {
      color: #a6c9ed;
    }
  }
  .icon2 {
    &::before {
      color: #a1decb;
    }
  }

  .canvasjs-chart-container {
    margin-top: -20px;
    margin-left: -22px;
  }
}

.canvas__chart__details {
  width: 100%;
  text-align: center;
  @include media-breakpoint-up(lg) {
    flex: 1;
    text-align: left;
  }
  .details__block {
    &:last-child {
      margin-top: 1rem;
    }
  }
  .details__block__num {
    color: darken($pinkColor, 10);
    font-size: 24px;
    line-height: 24px;
    margin: 0;
  }
  .details__block__about {
    color: $darkBlue;
    margin: 0;
  }
}

.chart__datapoints {
  text-align: center;
  width: 100%;
}

.chart__datapoints__item {
  display: inline-block;
  .color {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    margin-right: 0.3rem;
  }
  .text {
    font-size: 14px;
    margin-right: 0.5rem;
    line-height: 17px;
    vertical-align: middle;
  }
}

.daily-load__icon {
  font-size: 26px;
  line-height: 26px;
  vertical-align: middle;
  &::before {
    color: $darkBlue;
  }
}

.daily-load__num {
  display: inline-block;
  color: $pinkColor;
  font-size: 20px;
  line-height: 26px;
  vertical-align: middle;
  margin: 0 0.2rem;
}

.daily-load__about {
  display: inline-block;
  color: $darkBlue;
  font-size: 20px;
  line-height: 26px;
  vertical-align: middle;
  margin: 0;
}

.chart_three__wrap {
  max-height: 140px;
  overflow: hidden;
}

.cruncher {
  background: $pluginsBg;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.cruncher__title {
  margin-bottom: 0;
}

.cruncher__top {
  width: 100%;
  padding: 1.75rem 2rem 1rem;
  position: relative;
  border-bottom: 1px solid #d5d4d0;
}

.cruncher__bottom {
  width: 100%;
}

.cruncher__chart__wrap {
  height: 185px;
  overflow: hidden;
  padding: 0 -20px;
  & > div {
    margin-left: -2.25rem;
  }
}

.cruncher__chart__btn {
  display: inline-block;
  color: #bcbcbc;
  background: transparent;
  border: none;
  font-size: 14px;
  line-height: 26px;
  padding: 0 0.75rem;
  border-radius: 3px;
  &.active {
    color: $darkBlue;
    background: $yellowColor;
  }
}

.location {
  background: #eaa1bd;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.location__map {
  background: url("./assets/images/pink-dots-map.svg");
  background-size: 600px;
  padding: 1.75rem 2rem 2rem;
  width: 100%;
  background-position: center;
}

.location__top {
  width: 100%;
}

.location__title {
  color: #fff;
}

.float-icon {
  font-size: 32px;
  position: absolute;
  top: 1.75rem;
  right: 2rem;
  cursor: pointer;
  &::before {
    color: #fff;
  }
}

.location__center {
  background: #e195b2;
  padding: 0 0 0 1.75rem;
  display: flex;
  width: 100%;
  position: relative;
  &::after {
    position: absolute;
    bottom: -10px;
    left: 2rem;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #e195b2 transparent transparent transparent;
  }
}

.location__center__text {
  flex: 1;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin: auto 0;
  .icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.33rem;
    font-size: 32px;
    margin-bottom: 2px;
    &::before {
      color: #fff;
    }
  }
}

.location__center__btn {
  width: 80px;
  text-align: center;
  border-left: 1px solid #d282a0;
  .icon {
    display: inline-block;
    margin-right: 0.33rem;
    font-size: 36px;
    line-height: 80px;
    &::before {
      color: #fff;
    }
  }
}

.location__bottom {
  width: 100%;
  background: #fff;
}
